@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #2a3447;
    color: white;
}
.table-bg{
  background-color: #fafafa;
}
.form-bg{
    background-color: #c7d8e6;
    color: black;
}
td,th{
    color: #000000;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.box{
    border: 1px solid rgb(105, 102, 102);
    height: 150;
    padding: 10px;
    border-radius: 10px;
}
.box1{
    grid-column: span 1;
    grid-row: span 3;
}
.box4{
    grid-column: span 1;
    grid-row: span 4;
}
.box7{
    grid-column: span 2;
    grid-row: span 3;
}
/* .dash tr th , td {
    color: white;
} */
.softCol{
    color: #d2c3c3;

}
.bod{
    border-right: 1px solid #6f6b6b;
}
.nav{
    background: linear-gradient( to right ,aquamarine,gainsboro);
    /* background-color: aquamarine;
    background-color: gainsboro; */
    color: white;
}
.login{
    background-image: linear-gradient( to top right ,rgb(62, 71, 243), rgb(148, 51, 238), rgb(233, 44, 224));
    /* background-color: #2a3447; */
    

}
@media screen and (max-width:1000px) {
    .container{
        grid-template-columns: repeat(3,1fr);
        padding:20PX;
    }
    .box7{
        grid-column: span 1;
        grid-row: span 2;
    }
}
@media screen and (max-width:760px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen and (max-width:500px) {
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    
}